<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <header><%- include('./partials/header') %></header>
    <!-- <div>
      <p>Pesquisar entrega</p>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Nº do pedido"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div> -->
   
      <form action="" method="get"> <!-- Botão para voltar -->
        <button type="button">←</button>
        <h3>Conferência Quantitativa</h3>
        </form>
   
        <form action="" method="post">
            <div class="row g-3">
                <label for="">Descrição do Produto</label><br> <!-- usei br pq nao estamos usando css ainda -->
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Selecione o produto</option>
                        <option value="1">arroz </option>
                        <option value="2">feijao</option>
                        <option value="3">milho</option>
                     </select>
            </div>
            <div class="row g-3">
                <label for="">Quantidade</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                </div>
            </div>
            <div class="row g-3">
                <label for="">Peso Unitário (kg)</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                </div>
            </div>
            <div class="row g-3">
                <label for="">Peso Total (kg)</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                </div>
            </div>
            <div class="row g-3">
                <label for="">Condição de Pagamento</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                </div>
            </div>
            <div class="row g-3">
                <label for="">Informações complementares</label>
                <div class="input-group mb-3">
                    <textarea class="form-control"  id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Continuar</button> <!-- Botão para continuar -->
        </form>
    </div>
    <div>
        <form action="" method="get"> <!-- Botão para Recusar -->
            <button class="btn btn-primary" type="submit">Recusar</button>
        </form>
    </div>
    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
