<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <header><%- include('./partials/header') %></header>
    <div>
      <p>Pesquisar entrega</p>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Nº do pedido"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
    <div>
      <p>Entregas agendadas</p>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div>
        <form action="" method="get">
          <button class="btn btn-primary" type="submit">Ver todas</button>
        </form>
      </div>
    </div>
    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
