<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">

        <% for( var products of qualitiesProducts) { %>
            <div>
                <%= products.Product.productName %>
            </div>

            <div>
                <%= products.QualityTest.name %>
            </div>
            <h4>Sim:</h4><input type="checkbox" name="qualidadeSim" id="">
            <h4>Não:</h4><input type="checkbox" name="qualidadeNao" id="">
            
            <input type="text" value="<%= products.Product.id %>" name="idProduct" hidden>
            <input type="text" value="<%= products.QualityTest.id %>" name="idQuality" hidden>
            <% } %>
                <input type="submit" value="Testar">
    </form>
</body>

</html>