<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferência Quantitativa</title>
</head>
<body>
    <div align="center">
    <form action="/conferencia/quantitativa" method="post">
    <% products_object.forEach((product) => { %>
        <h1><%= product["Product"]["productName"] %></h1>
        <h3>Peso Unitário(kg)</h3>
        <input type="text" name="<%= product['Product']['id'] %>_weight" required>
        <h3>Quantidade</h3>
        <input type="text" name="<%= product['Product']['id'] %>_qtt" required>
    <% }); %>
        <button type="submit">Continuar</button>
    </form>
    </div>
</body>
</html>